# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# videos in testdata directory
*.mp4

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage
coverage.html

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Build directories
dist/

# VS Code settings
.vscode/

# Local debug/log files
*.log

# GUI improved paths
/ui/gui/node_modules/
ui/gui/src-tauri/target/
ui/gui/dist/

# Environment variables
.env
.env.*
!.env.example

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# Rust
Cargo.lock
**/*.rs.bk

# Go specific
/go.sum
/.cache/